{% extends 'events/base.html' %} {% block content %}

<h1>Events</h1>
<!--  for abaixo  percore o queryset e mostra de um por um na tela  -->
<br/> {% for event in event_list %}
<!--  card bootstrap5    -->
<div class="card">
    <div class="card-header">
        {{ event }}
    </div>
    <div class="card-body">
        <h5 class="card-title">Venue: {{ event.venue }}</h5>
        <p class="card-text">
            <ul>
                <!-- {{ event.event_date }} lista da data do evento verficiar os campos no model Event -->
                <li>Date: {{ event.event_date }}</li>

                <li>Venue Website: {{ event.venue.web }}</li>
                <!-- {{ event.venue.web }} poderia substituir .web por qualquer campo do Venue  -->
                <li>Manager: {{ event.manager }}</li>
                <li>Description: {{ event.description }}</li>
                <!-- listar todos  Attendees -->
                <li>Attendees:<br/> 
                    {% for user in event.attendees.all %} {{ user }}<br/> {% endfor %}
                </li>
            </ul>



        </p>
        <div class="card-footer text-muted">
           <a href="">Update Event</a> 
        </div>
    </div>
    <div class="card-footer text-muted">
        <a href="{% url 'update-event' event.id %}" class="btn btn-outline-secondary btn-sm">
           Update Event
        </a>
    </div>
    <!-- ------- FIM ------ -->

</div>





<br/><br/> {% endfor %}
<!--  {{ event_list}} Lista todos os eventos via QuerySet -->
{% endblock %}